body {
    height: 100vh;      
    background-color: #f8f9fa;
}

.center-box {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    color: #dc3545;
    font-size: 90%;
    margin-left: 8px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn-primary {
    background-color: #007bff;
    color: #ffffff;
    margin-right: 5px;
}

.submit-btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.submit-btn:hover {
    opacity: 0.8;
}

.button-container {
    display: flex;
    justify-content: space-between; 
}