.nav-link
{
    color: whitesmoke;
}
.nav-link:hover
{
    background-color: rgb(188, 154, 70);
    color: black;
}


.activePage
{
    background-color: darkgoldenrod;
    font-weight: bold;
    color: black;
}