{% extends 'core/base.html' %}
{% load static %}

{% block title %}home{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

<script>
  var myUrl = "{% url 'contactpage' %}"; //since url tag is difficult to use in js file so we are passing the homepage url by storing it in myUrl variable to js file
</script>
<script src="{% static 'home/js/main.js' %}"></script><!-- loading js file where url is passed -->


{% endblock style %}

{% block content %}

<div class="container-fluid text-center">
    <img
    src="{% static 'home/images/proPic.jpg' %}"
    class="img-fluid img-thumbnail mt-5"
    height="290px"
    width="290px"
    alt="profile-picture"
    
  />
  </div>

<div class="mt-4 mx-5 text-justify">
    <p class="ms-1 fs-2" style="font-family: 'Satisfy', cursive;"><b>Hello,</b></p>
    <div class="ps-4 text-justify" style="line-height: 2rem; text-align:justify;">
        <p style="text-indent: 100px;">I am <b class="text-warning">Rahul Mishra</b> having 5 years of full-stack web
            development experience for global businesses and offer the technical expertise you are seeking
             for your web developer position.</p>
       <p>Since earning my bachelor's degree in internet and web development from XYZ University, I have
            served as a web developer in <b class="text-warning">GS Technology</b>, one of the biggest premier digital marketing and 
            web development firm.  In this position, I have led web development projects for clients in 
            diverse industries includung technology, manufacturing, pharmaceutical, hospitality, retail, 
            and financial services.</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum sem leo, quis rhoncus 
           elit vestibulum pellentesque. Sed at consequat metus. Morbi erat lorem, sodales sed vulputate 
           ut, vulputate eget est.</p>
    </div>
  </div>
  
  <div class="container-fluid text-center mt-4 ">
    <button type="button" class="btn btn-outline-primary me-3" onclick="redirectToUrl()">Hire Me</button> 
  </div>
  

{% endblock content %}