<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<body>
<h2>
        this website contains the following urls :- <br>
        1. <a href="http://127.0.0.1:8000/bca/"> /bca </a> <br>
        2. <a href="http://127.0.0.1:8000/mca/"> /mca </a> <br>
        <p>note : you can visit the link by clicking on it or either pasting this url pattern in url bar of browser above</p>
        
</h2>

</body>
</html>