{% load static %}
<img
  src="{% static 'core/images/proPic.jpg' %}"
  class="img-fluid rounded-circle"
  height="150px"
  width="150px"
  alt="profile-picture"
/>
<div class="text-white fs-3 mt-3">Rahul Mishra</div>

<hr class="border border-danger border-2 opacity-50 mt-2" />

<nav class="nav flex-column text-center fs-4 mt-2">
  <a href="{% url 'homepage' %}" class="nav-link {{home}}">Home</a>
  <a href="{% url 'servicespage' %}" class="nav-link {{services}}">Services</a>
  <a href="{% url 'skillspage' %}" class="nav-link {{skill}}">Skills</a>
  <a href="{% url 'contactpage' %}" class="nav-link {{contact}}">Contact</a>
</nav>




