<!DOCTYPE html>
{% load static %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title Here{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontAwesome.css' %}">

    {% block cssfile %}
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock cssfile %}

</head>
<body> 
    <h1>{% block content %}
    This is Default Message Shown from Parent Template file</h1>
    <h3>visit below url to see child template file</h3>
    <h4><a href="http://127.0.0.1:8000/fees/">/fees</a></h4>
    {% endblock content %}

    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/fontAwesome.js' %}"></script>
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    </body>
</html>