<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        body {
            background-color : blue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
    </style>
</head>
<body>
<h2>
        this website contains the following urls <br>
        1. /ifelse <br>
        2. /forloop <br>
</h2>

</body>
</html>