body
{
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}


h1
{
    color: goldenrod;
    text-transform: uppercase;
}

button
{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 20px;
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    border: 2px solid cyan; 
    border-radius: 7px;
}

button:hover {
    background-color: red;
    color: white;
  }